<br><br><br><br><br><br>
<%= form_for(@customer, remote: true, :html =>{:class => "ui form"})  do |f|  %>

 <ul id="customers">

</ul>

 <div class="field">
  
    <%= f.label :Cedula %>
    <%= f.text_field :customer_uin %>
  </div>
  <div class="field">
  
    <%= f.label :Nombre %>
    <%= f.text_field :customer_name %>
  </div>
 
   <div class="field">
  
    <%= f.label :Apellido %>
    <%= f.text_field :customer_lastname %>
  </div>
 
   <div class="field">
  
    <%= f.label :Email %>
    <%= f.text_field :customer_email %>
  </div>
 

   <div class="field">
  
    <%= f.label :Telefono %>
    <%= f.text_field :customer_phone %>
  </div>

  <p>
     <%= f.submit %>

  </p>
<% end %>

<div id="new_article"></div>

    <script type="text/javascript">
      $(document).ready ->
  $("#new_article").on("ajax:success", (e, data, status, xhr) ->
    $("#new_article").append xhr.responseText
  ).on "ajax:error", (e, xhr, status, error) ->
    $("#new_article").append "<p>ERROR</p>"

    </script>



rails g model Request request_creator:integer request_insurance_broker:integer request_license_plate:integer request_insurance_policy:integer request_claim_number:integer request_customer:integer request_driver:integer request_sinister_date:date request_trial_date:date request_format_number:integer request_process_type:integer request_district:integer request_office:intenger request_claimant:integer request_log:integer request_isactive:boolean



