


<%= form_for(@request, remote: true, :html =>{:class => "ui form"})  do |f|  %>

 <ul id="requests">

</ul>

<h4 class="ui dividing header">Informacion del vehiculo</h4>

<div class="fields">
 <div class="field">
  
    <%= f.label :"Corredor" %>
<%= f.collection_select(:id, Broker.all, :id, :broker_company_name) %>
    
  </div>
  <div class="field">
  
    <%= f.label :"Placa" %>
    <%= f.text_field :request_license_plate %>
  </div>
 </div>



   <div class="field">
  
    <%= f.label :"Numero de Reclamo" %>
    <%= f.text_field :request_claim_number %>
  </div>
 
   <div class="field">
  
    <%= f.label :"Fecha del siniestro" %>
    <%= f.text_field :request_sinister_date %>
  </div>
 

   <div class="field">
  
    <%= f.label :"Fecha de la audiencia" %>
    <%= f.text_field :request_trial_date %>
  </div>

   <div class="field">
  
    <%= f.label :"Numero de formato" %>
    <%= f.text_field :request_trial_date %>
  </div>


   <div class="field">
  
    <%= f.label :"Numero de formato" %>
    <%= f.text_field :request_format_number%>
  </div>


   <div class="field">
  
    <%= f.label :"Numero de proceso" %>
    <%= f.text_field :request_process_type %>
  </div>

<h4 class="ui dividing header">Ubicacion</h4>
<div class="fields">
   <div class="field">
  
    <%= f.label :"Distrito" %>
    <%= f.text_field :request_district %>
  </div>

   <div class="field">
  
    <%= f.label :"Oficina" %>
    <%= f.text_field :request_office %>
  </div>
</div>


   <div class="field">
  
    <%= f.label :"Demandante" %>
    <%= f.text_field :request_claimant %>
  </div>








  <p>
     <%= f.submit %>

  </p>


  <div id="new_request"></div>

    <script type="text/javascript">
      $(document).ready ->
  $("#new_request").on("ajax:success", (e, data, status, xhr) ->
    $("#new_request").append xhr.responseText
  ).on "ajax:error", (e, xhr, status, error) ->
    $("#new_request").append "<p>ERROR</p>"

    </script>
  <% end %>
<div class="datepicker field">
  <label>Date of Birth</label>
  <input id="datepicker"></input>
</div>


<script type="text/javascript">
  
$(function() {
  $('.datepicker').pickadate()
});
</script>