<!DOCTYPE html>
<html>
<head>
  <title>Taskdomain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">TaskDomain
      </a>
      <a href="" class="item">Inicio</a>
      <div class="ui simple dropdown item">Acciones <i class="dropdown icon"></i>
        <div class="menu">
          <div class="divider"></div>
          <div class="header">Clientes</div>
          <%= link_to 'Mostrar clientes', customers_path, class:  'item'%>
        <%= link_to 'Crear cliente', new_customer_path, class:  'item'%>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Reclamos</div>
          <%= link_to 'Crear reclamo', new_claim_path, class:  'item'%>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>
<%= yield %>



</body>
</html>
