<!DOCTYPE html>
<html>
<head>
  <title>Taskdomain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">TaskDomain
      </a>
      <a href="" class="item">Inicio</a>
      <div class="ui simple dropdown item">Casos<i class="dropdown icon"></i>
        <div class="menu">
          
          
         
          <%= link_to 'Crear caso', new_request_path, class:  'item'%>
          <a class="item" href="#">Buscar caso</a>
            <a class="item" href="#">Editar caso</a>
          <a class="item" href="#">Link Item</a>
          </div>


      </div>

  <div class="ui simple dropdown item">Reportes <i class="dropdown icon"></i>
        <div class="menu">

          <a class="item" href="#">Generar reporte</a>
          </div>

          
      </div>

    </div>
  </div>

  <br><br><br>
<%= yield %>



</body>
</html>
